USE [master]
GO
/****** Object:  Database [productoramonster_db]    Script Date: 23/08/2020 04:15:34 p. m. ******/
CREATE DATABASE [productoramonster_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'productoramonster_db', FILENAME = N'D:\rdsdbdata\DATA\productoramonster_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'productoramonster_db_log', FILENAME = N'D:\rdsdbdata\DATA\productoramonster_db_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [productoramonster_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [productoramonster_db]
GO
/****** Object:  User [root]    Script Date: 23/08/2020 04:15:37 p. m. ******/
CREATE USER [root] FOR LOGIN [root] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [root]
GO
/****** Object:  Table [dbo].[AEDET_DETALLE]    Script Date: 23/08/2020 04:15:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AEDET_DETALLE](
	[PELOC_CODIGO] [varchar](15) NOT NULL,
	[PEEVE_CODIGO] [varchar](15) NOT NULL,
	[PEFAC_CODIGO] [varchar](50) NOT NULL,
	[PADET_CANTIDAD] [decimal](12, 0) NULL,
	[PADET_TOTAL] [numeric](12, 2) NULL,
	[PADET_SUBTOTAL] [numeric](12, 2) NULL,
	[PADET_IVA] [numeric](12, 2) NULL,
	[PADET_NOMBRE] [varchar](50) NULL,
	[PADET_DIRECCION] [varchar](50) NULL,
	[PADET_TELEFONO] [varchar](50) NULL,
	[PADET_CEDULA] [varchar](50) NULL,
	[PADET_VENDEDOR] [varchar](50) NULL,
 CONSTRAINT [PK_AEDET_DETALLE] PRIMARY KEY CLUSTERED 
(
	[PELOC_CODIGO] ASC,
	[PEEVE_CODIGO] ASC,
	[PEFAC_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PECLI_CLIENTE]    Script Date: 23/08/2020 04:15:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PECLI_CLIENTE](
	[PECLI_USUARIO] [varchar](30) NOT NULL,
	[PECLI_CONTRASENA] [varchar](30) NULL,
	[PECLI_NOMBRE] [varchar](30) NULL,
	[PECLI_CEDULA_RUC] [varchar](30) NULL,
	[PECLI_TELEFONO] [varchar](30) NULL,
	[PECLI_DIRECCION] [varchar](30) NULL,
 CONSTRAINT [PK_PECLI_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[PECLI_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEESC_ESCENARIO]    Script Date: 23/08/2020 04:15:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEESC_ESCENARIO](
	[PEESC_CODIGO] [varchar](15) NOT NULL,
	[PEESC_NOMBRE] [varchar](50) NULL,
	[PEESC_DIRECCION] [varchar](200) NULL,
 CONSTRAINT [PK_PEESC_ESCENARIO] PRIMARY KEY CLUSTERED 
(
	[PEESC_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEESP_ESPECTACULO]    Script Date: 23/08/2020 04:15:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEESP_ESPECTACULO](
	[PEESP_CODIGO] [varchar](30) NOT NULL,
	[PEESP_NOMBRE] [varchar](50) NULL,
	[PEESP_DESCRIPCION] [varchar](150) NULL,
 CONSTRAINT [PK_PEESP_ESPECTACULO] PRIMARY KEY CLUSTERED 
(
	[PEESP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEEVE_EVENTO]    Script Date: 23/08/2020 04:15:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEEVE_EVENTO](
	[PEEVE_CODIGO] [varchar](15) NOT NULL,
	[PEESP_CODIGO] [varchar](30) NOT NULL,
	[PEESC_CODIGO] [varchar](15) NOT NULL,
	[EVE_FECHA2] [datetime] NULL,
 CONSTRAINT [PK_PEEVE_EVENTO] PRIMARY KEY CLUSTERED 
(
	[PEEVE_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEFAC_FACTURA]    Script Date: 23/08/2020 04:15:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEFAC_FACTURA](
	[PEFAC_CODIGO] [varchar](50) NOT NULL,
	[PECLI_USUARIO] [varchar](30) NOT NULL,
	[PEFAC_VENDEDOR] [varchar](50) NULL,
	[PEFAC_FECHA] [datetime] NULL,
	[PEFAC_SUBTOTAL] [numeric](11, 2) NULL,
	[PEFAC_IVA] [numeric](11, 2) NULL,
	[PEFAC_TOTAL] [numeric](11, 2) NULL,
	[PEFAC_PAGO] [varchar](50) NULL,
	[PEFAC_CEDULA] [varchar](50) NULL,
	[PEFAC_TELEFONO] [varchar](50) NULL,
	[PEFAC_DIRECCION] [varchar](50) NULL,
	[PEFAC_NOMBRE] [varchar](50) NULL,
 CONSTRAINT [PK_PEFAC_FACTURA] PRIMARY KEY CLUSTERED 
(
	[PEFAC_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PELOC_LOCESP]    Script Date: 23/08/2020 04:15:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PELOC_LOCESP](
	[PELOC_CODIGO] [varchar](15) NOT NULL,
	[PEEVE_CODIGO] [varchar](15) NOT NULL,
	[PELOC_DISPONIBILIDAD] [numeric](10, 2) NULL,
	[PELOC_PRECIO] [numeric](10, 2) NULL,
 CONSTRAINT [PK_PELOC_LOCESP] PRIMARY KEY CLUSTERED 
(
	[PELOC_CODIGO] ASC,
	[PEEVE_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AEDET_DETALLE] ([PELOC_CODIGO], [PEEVE_CODIGO], [PEFAC_CODIGO], [PADET_CANTIDAD], [PADET_TOTAL], [PADET_SUBTOTAL], [PADET_IVA], [PADET_NOMBRE], [PADET_DIRECCION], [PADET_TELEFONO], [PADET_CEDULA], [PADET_VENDEDOR]) VALUES (N'GOLDEN', N'EVE001', N'FAC002', NULL, CAST(100.00 AS Numeric(12, 2)), NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[AEDET_DETALLE] ([PELOC_CODIGO], [PEEVE_CODIGO], [PEFAC_CODIGO], [PADET_CANTIDAD], [PADET_TOTAL], [PADET_SUBTOTAL], [PADET_IVA], [PADET_NOMBRE], [PADET_DIRECCION], [PADET_TELEFONO], [PADET_CEDULA], [PADET_VENDEDOR]) VALUES (N'GOLDEN', N'EVE001', N'FAC004', CAST(1 AS Decimal(12, 0)), CAST(100.00 AS Numeric(12, 2)), NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[AEDET_DETALLE] ([PELOC_CODIGO], [PEEVE_CODIGO], [PEFAC_CODIGO], [PADET_CANTIDAD], [PADET_TOTAL], [PADET_SUBTOTAL], [PADET_IVA], [PADET_NOMBRE], [PADET_DIRECCION], [PADET_TELEFONO], [PADET_CEDULA], [PADET_VENDEDOR]) VALUES (N'GOLDEN', N'EVE001', N'FAC006', CAST(1 AS Decimal(12, 0)), CAST(100.00 AS Numeric(12, 2)), NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PECLI_CLIENTE] ([PECLI_USUARIO], [PECLI_CONTRASENA], [PECLI_NOMBRE], [PECLI_CEDULA_RUC], [PECLI_TELEFONO], [PECLI_DIRECCION]) VALUES (N'Cristhian', N'1234', N'cliente1', N'110511234', N'3698547', N'cris@hotmail.com')
INSERT [dbo].[PECLI_CLIENTE] ([PECLI_USUARIO], [PECLI_CONTRASENA], [PECLI_NOMBRE], [PECLI_CEDULA_RUC], [PECLI_TELEFONO], [PECLI_DIRECCION]) VALUES (N'Diego', N'1234', N'Diego ', N'1718161234', N'3002569', N'diego@yahoo.com')
INSERT [dbo].[PECLI_CLIENTE] ([PECLI_USUARIO], [PECLI_CONTRASENA], [PECLI_NOMBRE], [PECLI_CEDULA_RUC], [PECLI_TELEFONO], [PECLI_DIRECCION]) VALUES (N'Ines', N'1234', N'ines', N'1722931234', N'3001448', N's46e')
INSERT [dbo].[PEESC_ESCENARIO] ([PEESC_CODIGO], [PEESC_NOMBRE], [PEESC_DIRECCION]) VALUES (N'ESC001', N'ESPE', N'En la ESPE')
INSERT [dbo].[PEESC_ESCENARIO] ([PEESC_CODIGO], [PEESC_NOMBRE], [PEESC_DIRECCION]) VALUES (N'ESC002', N'Museo Central', N'En el centro')
INSERT [dbo].[PEESP_ESPECTACULO] ([PEESP_CODIGO], [PEESP_NOMBRE], [PEESP_DESCRIPCION]) VALUES (N'ESP001', N'Las estrellas', N'Ven y conoce lo mejor de la danza')
INSERT [dbo].[PEESP_ESPECTACULO] ([PEESP_CODIGO], [PEESP_NOMBRE], [PEESP_DESCRIPCION]) VALUES (N'ESP002', N'Marina', N'Nuevos shots al mejor precioo')
INSERT [dbo].[PEESP_ESPECTACULO] ([PEESP_CODIGO], [PEESP_NOMBRE], [PEESP_DESCRIPCION]) VALUES (N'ESP003', N'Circo del chavo', N'Nos recuerdas, te esperamos')
INSERT [dbo].[PEEVE_EVENTO] ([PEEVE_CODIGO], [PEESP_CODIGO], [PEESC_CODIGO], [EVE_FECHA2]) VALUES (N'EVE001', N'ESP001', N'ESC001', CAST(N'2019-10-27T14:00:00.000' AS DateTime))
INSERT [dbo].[PEEVE_EVENTO] ([PEEVE_CODIGO], [PEESP_CODIGO], [PEESC_CODIGO], [EVE_FECHA2]) VALUES (N'EVE002', N'ESP002', N'ESC001', CAST(N'2019-10-31T14:00:00.000' AS DateTime))
INSERT [dbo].[PEEVE_EVENTO] ([PEEVE_CODIGO], [PEESP_CODIGO], [PEESC_CODIGO], [EVE_FECHA2]) VALUES (N'EVE003', N'ESP003', N'ESC001', CAST(N'2019-11-27T14:00:00.000' AS DateTime))
INSERT [dbo].[PEFAC_FACTURA] ([PEFAC_CODIGO], [PECLI_USUARIO], [PEFAC_VENDEDOR], [PEFAC_FECHA], [PEFAC_SUBTOTAL], [PEFAC_IVA], [PEFAC_TOTAL], [PEFAC_PAGO], [PEFAC_CEDULA], [PEFAC_TELEFONO], [PEFAC_DIRECCION], [PEFAC_NOMBRE]) VALUES (N'FAC001', N'Ines', N'Monster Eventos', CAST(N'2020-07-17T00:05:06.903' AS DateTime), NULL, NULL, CAST(100.00 AS Numeric(11, 2)), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PEFAC_FACTURA] ([PEFAC_CODIGO], [PECLI_USUARIO], [PEFAC_VENDEDOR], [PEFAC_FECHA], [PEFAC_SUBTOTAL], [PEFAC_IVA], [PEFAC_TOTAL], [PEFAC_PAGO], [PEFAC_CEDULA], [PEFAC_TELEFONO], [PEFAC_DIRECCION], [PEFAC_NOMBRE]) VALUES (N'FAC002', N'Ines', N'Monster Eventos', CAST(N'2020-07-17T00:26:27.740' AS DateTime), NULL, NULL, CAST(100.00 AS Numeric(11, 2)), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PEFAC_FACTURA] ([PEFAC_CODIGO], [PECLI_USUARIO], [PEFAC_VENDEDOR], [PEFAC_FECHA], [PEFAC_SUBTOTAL], [PEFAC_IVA], [PEFAC_TOTAL], [PEFAC_PAGO], [PEFAC_CEDULA], [PEFAC_TELEFONO], [PEFAC_DIRECCION], [PEFAC_NOMBRE]) VALUES (N'FAC003', N'Ines', N'Monster Eventos', CAST(N'2020-07-20T01:24:43.540' AS DateTime), NULL, NULL, CAST(400.00 AS Numeric(11, 2)), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PELOC_LOCESP] ([PELOC_CODIGO], [PEEVE_CODIGO], [PELOC_DISPONIBILIDAD], [PELOC_PRECIO]) VALUES (N'GOLDEN', N'EVE001', CAST(0.00 AS Numeric(10, 2)), CAST(100.00 AS Numeric(10, 2)))
INSERT [dbo].[PELOC_LOCESP] ([PELOC_CODIGO], [PEEVE_CODIGO], [PELOC_DISPONIBILIDAD], [PELOC_PRECIO]) VALUES (N'GOLDEN', N'EVE002', CAST(3.00 AS Numeric(10, 2)), CAST(100.00 AS Numeric(10, 2)))
INSERT [dbo].[PELOC_LOCESP] ([PELOC_CODIGO], [PEEVE_CODIGO], [PELOC_DISPONIBILIDAD], [PELOC_PRECIO]) VALUES (N'GOLDEN', N'EVE003', CAST(5.00 AS Numeric(10, 2)), CAST(100.00 AS Numeric(10, 2)))
ALTER TABLE [dbo].[AEDET_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_AEDET_DE_AEDET_DET_PEFAC_FA] FOREIGN KEY([PEFAC_CODIGO])
REFERENCES [dbo].[PEFAC_FACTURA] ([PEFAC_CODIGO])
GO
ALTER TABLE [dbo].[AEDET_DETALLE] CHECK CONSTRAINT [FK_AEDET_DE_AEDET_DET_PEFAC_FA]
GO
ALTER TABLE [dbo].[AEDET_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_AEDET_DE_AEDET_DET_PELOC_LO] FOREIGN KEY([PELOC_CODIGO], [PEEVE_CODIGO])
REFERENCES [dbo].[PELOC_LOCESP] ([PELOC_CODIGO], [PEEVE_CODIGO])
GO
ALTER TABLE [dbo].[AEDET_DETALLE] CHECK CONSTRAINT [FK_AEDET_DE_AEDET_DET_PELOC_LO]
GO
ALTER TABLE [dbo].[PEEVE_EVENTO]  WITH CHECK ADD  CONSTRAINT [FK_PEEVE_EV_RELATIONS_PEESC_ES] FOREIGN KEY([PEESC_CODIGO])
REFERENCES [dbo].[PEESC_ESCENARIO] ([PEESC_CODIGO])
GO
ALTER TABLE [dbo].[PEEVE_EVENTO] CHECK CONSTRAINT [FK_PEEVE_EV_RELATIONS_PEESC_ES]
GO
ALTER TABLE [dbo].[PEEVE_EVENTO]  WITH CHECK ADD  CONSTRAINT [FK_PEEVE_EV_RELATIONS_PEESP_ES] FOREIGN KEY([PEESP_CODIGO])
REFERENCES [dbo].[PEESP_ESPECTACULO] ([PEESP_CODIGO])
GO
ALTER TABLE [dbo].[PEEVE_EVENTO] CHECK CONSTRAINT [FK_PEEVE_EV_RELATIONS_PEESP_ES]
GO
ALTER TABLE [dbo].[PEFAC_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_PEFAC_FA_RELATIONS_PECLI_CL] FOREIGN KEY([PECLI_USUARIO])
REFERENCES [dbo].[PECLI_CLIENTE] ([PECLI_USUARIO])
GO
ALTER TABLE [dbo].[PEFAC_FACTURA] CHECK CONSTRAINT [FK_PEFAC_FA_RELATIONS_PECLI_CL]
GO
ALTER TABLE [dbo].[PELOC_LOCESP]  WITH CHECK ADD  CONSTRAINT [FK_PELOC_LO_RELATIONS_PEEVE_EV] FOREIGN KEY([PEEVE_CODIGO])
REFERENCES [dbo].[PEEVE_EVENTO] ([PEEVE_CODIGO])
GO
ALTER TABLE [dbo].[PELOC_LOCESP] CHECK CONSTRAINT [FK_PELOC_LO_RELATIONS_PEEVE_EV]
GO
USE [master]
GO
